.seller_details {
    font-size: 180%;
    padding: 3%;
}

.padding {
    padding: 2%;
    font-size: 110%;
}

.containers_row {
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
    font-size: 110%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 55%;
    width: 70%;
}