<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Made Easy</h1>
    <span class="menu-spacer"></span>
    <div class="container">
      <a [routerLink]="'/dashboard'" mat-button> Dashboard </a>
      <a [routerLink]="" mat-button> Sell </a>
      <a (click)="navigateToLogin()" mat-button style="position:absolute; right:0;"> Logout </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
