.containers_row {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10%;
    flex-wrap: wrap;
}

.product_info {
    width: 50%;
    min-width: 262px;
}

.seller_info {
    width: 30%;
    min-width: 250px;
    min-height: 200px;
}
