<div class="carousel">
  <mat-card>
    <owl-carousel [carouselClasses]="['owl-theme', 'sliding']" [options]="mySlideOptions">
      <div *ngFor="let image of mySlideImages" class="carousel">
        <div>
          <img src="assets\image\{{image}}" />
        </div>
      </div>
    </owl-carousel>
  </mat-card>
</div>
<br>
<br>
<div class="container">
  <mat-card class="mat-card">
    <form (submit)="submit()" [formGroup]="loginForm" class="search-container">
      <div class="search-div">
        <mat-form-field appearance="fill" class="search-field">
          <mat-label>Search</mat-label>
          <input formControlName="search" matInput>
          <mat-error *ngIf="loginForm.controls.search.touched && loginForm.controls.search.invalid">
            This field is mandatory.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="search-button-div">
        <button [disabled]="!loginForm.valid" color="primary" mat-flat-button type="submit">Search</button>
      </div>
    </form>

  </mat-card>
</div>
<div *ngFor="let product of products">
  <mat-card (click)="onCardClick(product.id)" matRipple>
    <mat-card-content>
      <div class="container">
        <div class="image-div">
          <img class="product-image" src="assets\image\{{product.image}}">
        </div>
        <div style="flex-grow: 6">
          <div>
            <h1><b>{{product.name}}</b></h1>
          </div>
          <div>
            <p> {{product.description}} </p>
          </div>
          <div><b name='reviews'>Reviews: </b>{{product.reviews}}</div>
          <div><b>Rating: </b> {{product.rating}}</div>
        </div>
        <div style="flex-grow: 1">
          <B name='price'>Price: </B>{{product.price}} {{product.unit}}
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div>
  <mat-paginator [length]="resultsLength" [pageSize]="pageSize"></mat-paginator>
</div>